<html>
    <head>
        <meta name = "viewport" content = "width-device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/poper.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    <body>
    <div class = "container">
        <h2> <%= title %> </h2>
        <form action = "/save" method = "post">
            <div class = "form-group">
                <label for = "tip_ust"> Type of institution: </label>
                <input type = "text" class = "form-control" id = "tip_ust" placeholder = "Choose type of institution" name = "tip_ust">
            </div>
            <div class = "form-group">
                <label for = "vu_identifikator"> Higher education institution ID: </label>
                <input type = "text" class = "form-control" id = "vu_identifikator" placeholder = "Enter the identifier of the higher institution" name = "vu_identifikator">
            </div>
            <div>
                <label for = "employee_id_number"> Employee ID: </label>
                <input type = "text" class = "form-control" id = "employee_id_number" placeholder = "Enter the identification number of the employee" name = "employee_id_number">
            </div>
            <div class = form-group>
                <label for = "employee_name"> Name: </label>
                <input type = "text" class = "form-control" id = "employee_name" placeholder = "Enter the name of the employee" name = "employee_name">
            </div>
            <div class = "form-group">
                <label for = "employee_initials"> Initials: </label>
                <input type = "text" class = "form-control" id = "employee_initials" placeholder= "Enter the initials of the employee" name = "employee_initials">
            </div>
            <div class = "form-group">
                <label for = "employee_surname"> Surname: </label>
                <input type = "text" class = "form-control" id = "employee_surname" placeholder = "Enter the surname of the employee" name = "employee_surname">
            </div>
            <button type = "submit" class = "btn btn-primary"> Submit </button> 
        </form>
    </div>        

    </body>

</html>