<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width-device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/poper.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
        
        <title>Projekat NoSQL</title>
    </head>

    <body>
        <div class="container">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MySQL</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="/">Employees</a>
                            <a class="dropdown-item " href="#">Whatever</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NoSQL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Neo4J</a>
                    </li>
                </ul>
            </nav>     
      
   