<%- include('header') %>

<% if (high_order_institution.length === 0) { %>
    <div class="alert alert-info" role="alert">
        <p>There are no High order institutions to show, click <a href="/addEmployee">here</a> to add a new High order institution.</p>    
    </div>
<% } else { %>
    <a href = "/addHighOrderInstitutio" class = "btn btn-sm btn-primary"> Add High order institution</a></br/><br/>
    <table class = "table table-dark table-striped">
        <thead>
            <tr>
                
            </tr>
        </thead>
    </table>
